<h1>Recent transactions</h1>
<br>
<p>Total spent: <%= @total %></p>
<br>
<table  class="table">
  <tr>
    <th>Date</th>
    <th></th>
    <th>Category</th>
    <th></th>
    <th>Merchant</th>
    <th></th>
    <th>Amount (GCS)</th>
    <th></th>
    <th></th>
  </tr>
  <% for transaction in @transactions %>
  <tr>
    <td> <%= transaction.date() %> </td>
    <td> </td>
    <td><a href="/categories/<%=transaction.category_id%>"><%= transaction.category.type %></a></td>
    <td> </td>
    <td><a href="/merchants/<%= transaction.merchant_id%>"><%= transaction.merchant.name %></a></td>
    <td> </td>
    <td><%= transaction.amount %></td>
    <td> </td>
    <td><form class="" action="/transactions/<%=transaction.id%>/edit" method="get">
      <input class="btn btn--action" action"" type='submit' value="Edit">
    </form>
    </td>
    <td><form class="" action="/transactions/<%=transaction.id%>/delete?" method="get">
      <input class="btn btn--action" type='submit' value="Delete"></td>
    </form>
  </tr>
  <% end %>
</table>
